* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #383e4c;
    font-size: larger;
    color: white;
}

.nav-link {
    color: white;
    border: 1px solid white;
}

.top {
    background: url('https://res.cloudinary.com/dbhgqdhc1/image/upload/v1582793460/bg-1_zixbrw.jpg');
    color: white;
    padding-top: 15%;
    padding-bottom: 10%;
}

.card-title {
    font-weight: bold;
}

.btn {
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 30%;
}

.btn-outline-secondary {
    margin-left: 60%;
    border: 1px solid gray;
}

.col-sm-6 {
    margin-top: 5%;
}

.col-sm-6 h5 {
    text-align: center;
}

.col-sm-6 .lead {
    font-size: 1rem;
}

#card-top {
    padding-top: 11%;
}

.medium {
    margin-top: 5%;
    background: url('https://res.cloudinary.com/dbhgqdhc1/image/upload/v1582793464/bg-2_se67fy.jpg');
    color: white;
}

.display-4 {
    font-weight: bold;
    padding-top: 5%;
}

.d-flex {
    margin-left: 25%;
    font-weight: bold;
}

.d-inline-flex {
    font-weight: bold;
    margin-right: 7%;
}

.para {
    margin-top: 2%;
}

.last {
    display: flex;
    font-weight: bold;
    margin-left: 35%;
}

#top {
    padding-bottom: 16%;
}

#bottom {
    padding-bottom: 6%;
}

#services .container .row .col .card {
    width: 14rem;
}

#services .container .row .col .card .card-title {
    text-align: center;
    color: gray;
}

#services .container .row .col .card .btn-outline-secondary {
    margin-left: 30%;
}

.col-lg-12 {
    margin-top: 2%;
    padding-right: 4%;
}

.col-lg-12 .card-title {
    color: gray;
}

.col-lg-12 .btn-outline-secondary {
    margin-left: 0%;
}

#form .bottom {
    background: url('https://res.cloudinary.com/dbhgqdhc1/image/upload/v1582793462/bg-3_uafxrw.jpg');
    text-align: center;
}

#form {
    margin-top: 5%;
}

#form .display-4 {
    color: white;
    padding-top: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav {
        font-size: 0.7rem;
    }
    .col-sm-4 .card {
        margin-top: 5%;
    }
    #services .container .row .col .card {
        margin-top: 5%;
        margin-left: 20%;
    }
    .para .d-flex {
        margin-left: 5%;
        font-size: 0.5rem;
    }
    .para .d-inline-flex {
        margin-left: 5%;
        font-size: 0.6rem;
    }
    .para .last {
        margin-left: 25%;
        font-size: 0.6rem;
    }
}