* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #383e4c;
    font-size: larger;
    color: white;
}

.nav-link {
    color: white;
    border: 1px solid white;
}

.top {
    background: url('https://res.cloudinary.com/dbhgqdhc1/image/upload/v1582796298/bg-1_zixbrw_mhbt3p.webp');
    color: white;
    padding-top: 15%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
}

#card-top {
    padding-bottom: 11%;
}

.card-title {
    font-weight: bold;
}

.btn {
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 30%;
}

.btn-outline-secondary {
    margin-left: 60%;
    border: 1px solid gray;
}

.col-sm-6 {
    margin-top: 5%;
}

.col-sm-6 h5 {
    text-align: center;
}

.col-sm-6 .lead {
    font-size: 1rem;
}

.medium {
    margin-top: 5%;
    background: url('https://res.cloudinary.com/dbhgqdhc1/image/upload/v1582796298/bg-2_se67fy_sqlnkl.webp');
    color: white;
    background-repeat: no-repeat;
}

.display-4 {
    font-weight: bold;
    padding-top: 5%;
}

.d-flex {
    margin-left: 25%;
    font-weight: bold;
}

.d-inline-flex {
    font-weight: bold;
    margin-right: 7%;
}

.para {
    margin-top: 2%;
}

.last {
    display: flex;
    font-weight: bold;
    margin-left: 35%;
}

#top {
    padding-bottom: 16%;
}

#bottom {
    padding-bottom: 6%;
}

#services .container .row .col .card {
    width: 14rem;
}

#services .container .row .col .card .card-title {
    text-align: center;
    color: gray;
}

#services .container .row .col .card .btn-outline-secondary {
    margin-left: 30%;
}

.col-lg-12 {
    margin-top: 2%;
    padding-right: 4%;
}

.col-lg-12 .card-title {
    color: gray;
}

.col-lg-12 .btn-outline-secondary {
    margin-left: 0%;
}

#form .bottom {
    background: url('https://res.cloudinary.com/dbhgqdhc1/image/upload/v1582796298/bg-3_uafxrw_cplcsw.webp');
    text-align: center;
    background-repeat: no-repeat;
}

#form {
    margin-top: 5%;
}

#form .display-4 {
    color: white;
    padding-top: 5%;
}

.form-control {
    width: 35%;
    margin-left: 10%;
    margin-top: 2%;
}

#textarea {
    margin-left: 50%;
    margin-top: -15%;
}

.btn-dark {
    margin-left: 14%;
    margin-top: 2%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav {
        font-size: 0.6rem;
    }
    .col-sm-4 .card {
        margin-top: 5%;
    }
    #services .container .row .col .card {
        margin-top: 5%;
        margin-left: 20%;
    }
    .para .d-flex {
        margin-left: 5%;
        font-size: 0.5rem;
    }
    .para .d-inline-flex {
        margin-left: 5%;
        font-size: 0.6rem;
    }
    .para .last {
        margin-left: 25%;
        font-size: 0.6rem;
    }
    .form-control {
        margin-left: 25%;
        width: 55%;
    }
    #textarea {
        margin-top: 5%;
        margin-left: 25%
    }
    .btn-dark {
        margin-right: 15%;
        margin-top: 3%;
    }
}

@media(min-width: 481px) and (max-width:767px) {
    #about .row .col-sm-6 #card-top {
        margin-top: 7%;
    }
    .btn-outline-secondary {
        margin-left: 45%;
    }
    .d-flex {
        margin-left: 5%;
    }
    .col-lg-12 .card {
        margin-left: 7%;
        margin-right: -5%;
    }
    #textarea {
        margin-top: -26%;
    }
    #btn {
        margin-left: 18%;
    }
}

@media(min-width:480px) and (max-width: 768px) {
    #card-top {
        padding-bottom: 18%;
    }
    #services .container .row .col .card {
        margin-left: 15%;
        margin-top: 5%;
    }
    #textarea {
        margin-top: -21%;
    }
    #card-deck {
        font-size: 0.6rem;
    }
    .container #card-deck .btn {
        margin-left: 15%;
    }
    .container #card-deck-top .btn {
        margin-top: 13%
    }
    .d-flex {
        margin-left: 7%;
    }
    .last {
        margin-left: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #textarea {
        margin-top: -16%;
    }
}